@import '~styles/variables';
@import '~styles/mixins';

.form-add-review {
    $col-width: 40px;
    margin: 50px 40px 50px;

    @media (max-width: $md) {
        margin: 30px 0 30px;
    }

    &__container {
        @include grid($col-width);
    }

    &__col {
        @include grid-col(1/2, $col-width);

        @media (max-width: $md) {
            @include grid-col(1, $col-width);
        }

        &-fullwidth {
            @include grid-col(1, $col-width);
        }
    }

    .form-item {
    }

    .form-btns-container {
    }

    &__btn {
        &-submit {
            @include btn-primary;
        }
    }

    // какие то костыли, если надо
}
