<div class="product-sorting">
    <span>Sorting by:</span>
    <div class="product-sorting__options">
        <span class="product-sorting__options-current">Price: low to high</span>
        <div class="product-sorting__options-dropdown">
            <span class="js-products-sorting" data-href="/products-list.html?sort=best">Best rated</span>
            <span class="js-products-sorting" data-href="/products-list.html?sort=newest">Newest items</span>
            <span class="js-products-sorting" data-href="/products-list.html?sort=low">Price: low to high</span>
            <span class="js-products-sorting" data-href="/products-list.html?sort=high">Price: high to low</span>
        </div>
    </div>
</div><!-- end .product-sorting -->
