<!-- .faq -->
<div class="faq">
    {% for i in 0..3 %}
    <div class="faq__item js-faq">
        <div class="faq__item-title js-faq-title">
            <p>Test Question One</p>
        </div>
        <div class="faq__item-content js-faq-content">
            <div class="faq__item-content-wrap">
                <p>If you’re in need of home cleaning, apartment cleaning, or a maid service, we’re simply the best, most convenient home cleaning service out there. We know you want the cheapest house cleaning available while still having the confidence that you will receive a cleaner who is thorough and professional, with keen attention to detail. When you sign up for a Handy house cleaning plan, we aim to offer you just that. And Handy helps schedule your recurring cleanings automatically for you, so you can focus on the other things in your life.</p>
                <p>If you’re in need of home cleaning, apartment cleaning, or a maid service, we’re simply the best, most convenient home cleaning service out there. We know you want the cheapest house cleaning available while still having the confidence that you will receive a cleaner who is thorough and professional, with keen attention to detail. When you sign up for a Handy house cleaning plan, we aim to offer you just that. And Handy helps schedule your recurring cleanings automatically for you, so you can focus on the other things in your life.</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div><!-- end .faq-->
