{% extends "../layout/_layout.twig" %}

{# Настройки #} 
{% block title %}My Profile page | Example.com {% endblock %}
{% block body_class %}inner-page{% endblock %}


{% block main %}
    <div class="l-container">

        <div class="breadcrumbs">
            <a href="/">Home</a>
            <span>My Profile</span>
        </div>
        
        <h1>My Profile</h1>

        <div class="my-profile">
           <div class="my-profile__sidebar">
                {% include '../../assets/blocks/user/my-profile-sidebar/my-profile-sidebar.twig' %} 
           </div>
           <div class="my-profile__main">

            <h3>Account Information</h3>

            <div class="my-profile-info-tabs">
                <a class="is-active" href="">Personal information</a>
                <a href="">Bank account info</a>
                <a href="">Change password</a>
                <a href="">Change email</a>
                <a href="">Addresses</a>
            </div>


            <div class="my-profile-info-content">
                <p class="-title">Profile photo</p>

                <form action="">
                    <div class="upload-image">
                        <img class="upload-image__preview" src="assets/images/empty.svg" alt="">
                        <label class="upload-image__label">
                            <input type="file">
                            <span>Upload Photo/Logo</span>
                        </label>
                        <button class="upload-image__btn" type="submit">Select image</button>
                    </div>
                </form>
                
                <hr>
                <p class="-title">Personal Information</p>
                <form action="/form-success.html" class="js-ajax">
                    
                    <div class="form -list">

                        <div class="form__item">
                            <label class="form__item-label">Username</label>
                            <div class="form__item-field"><strong>demages</strong></div>
                            <div class="form__item-error"></div>
                        </div>

                        <div class="form__item">
                            <label class="form__item-label">Email</label>
                            <div class="form__item-field"><strong>bulliden@yandex.ru</strong></div>
                            <div class="form__item-error"></div>
                        </div>

                        <div class="form__item">
                            <label class="form__item-label">Name</label>
                            <div class="form__item-field"><input type="text" placeholder="Name"></div>
                            <div class="form__item-error"></div>
                        </div>

                        <div class="form__item">
                            <label class="form__item-label">Phone number</label>
                            <div class="form__item-field"><input type="text" placeholder="Phone number"></div>
                            <div class="form__item-error"></div>
                        </div>

                        <div class="form__item">
                            <label class="form__item-label">City/Area</label>
                            <div class="form__item-field"><input type="text" placeholder="City/Area"></div>
                            <div class="form__item-error"></div>
                        </div>

                        <div class="form__item">
                            <label class="form__item-label">Country</label>
                            <div class="form__item-field">
                                <select>
                                    <option value="">Country 1</option>
                                    <option value="">Country 2</option>
                                </select>
                            </div>
                            <div class="form__item-error"></div>
                        </div>

                        <div class="form__item">
                            <label class="form__item-label">Emirate</label>
                            <div class="form__item-field">
                                <select>
                                    <option value="">Emirate 1</option>
                                    <option value="">Emirate 2</option>
                                </select>
                            </div>
                            <div class="form__item-error"></div>
                        </div>


                        <div class="col-1-1 form__btns-container">
                            <button class="btn" type="submit">Submit</button>
                        </div>

                    </div>
                </form>
            </div>



           </div>
        </div>

        

    </div>
{% endblock %}

