<div class="form-success">
    <img class="form-success__icon" src="assets/images/form-success.png" alt="success" title="success">
    <p class="form-success__title">Success</p>
    <p class="form-success__msg">Success msg</p>
</div>