@import '~styles/variables';
@import '~styles/mixins';

.form-feedback-alternative {
    $col-width: 40px;
    max-width: 800px;
    margin: 50px auto 50px;

    .form-item {
    }

    .form-btns-container {
    }

    &__btn {
        &-submit {
            @include btn-primary;
        }
    }

    /* какие то костыли, если надо */
}
