<h2>Videos</h2>
<p>with lazyload</p>
<div class="grid">
    <div class="col-1-3">
        {# data-id - id видео на ютубе #}
        <div class="video js-embed-video" data-type="youtube" data-id="PF0L3gvSVcg"></div>
    </div>
    <div class="col-1-3">
        <div class="video js-embed-video" data-type="youtube" data-id="AQkbbtDoPq0"></div>
    </div>
    <div class="col-1-3">
        <div class="video js-embed-video" data-type="youtube" data-id="Fx0F2sgbC7M" data-img="http://via.placeholder.com/1170x658/cccccc/000000"></div>
    </div>
</div>