<div class="products-filter-smart js-filter-smart">

    <div class="products-filter-smart__block" data-spoiler data-open="true">
        <div class="products-filter-smart__block-name" data-spoiler-btn>Price</div>
        <div class="products-filter-smart__block-content" data-spoiler-content>
            <div class="products-filter-smart__block-content-wrap"> 
                <div class="products-filter-smart__price js-price-range">
                    <input class="products-filter-smart__price--min js-filter-smart-params" name="filter[price][from]" value="223" min="100" type="number">
                    <input class="products-filter-smart__price--max js-filter-smart-params" name="filter[price][to]" value="1420" max="1500" type="number">
                    <div class="products-filter-smart__price-slider"></div>
                    <div class="products-filter-smart__text">
                        <span>100 AED</span>
                        <span>1 500 AED</span>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div class="products-filter-smart__block" data-spoiler>
        <div class="products-filter-smart__block-name" data-spoiler-btn>expanded=true <br> multiple=false</div>
        <div class="products-filter-smart__block-content" data-spoiler-content>
            <div class="products-filter-smart__block-content-wrap"> 
                <div class="filter-smart-prop js-filter-smart-prop" data-slug="color" data-expanded="true" data-multiple="false">
                    <ul class="filter-smart-prop__values js-filter-items">
                        <li class="js-filter-smart-value" data-slug="yellow" data-label="Yellow" data-checked="false"><a href="#">yellow</a></li>
                        <li class="js-filter-smart-value" data-slug="bisque" data-label="Bisque" data-checked="true"><a href="#">bisque</a></li>
                        <li class="js-filter-smart-value" data-slug="maroon" data-label="Maroon" data-checked="false"><a href="#">maroon</a></li>
                        <li class="js-filter-smart-value" data-slug="indigo" data-label="Indigo" data-checked="false"><a href="#">indigo</a></li>
                        <li class="js-filter-smart-value" data-slug="tomato" data-label="Tomato" data-checked="false"><a href="#">tomato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="products-filter-smart__block" data-spoiler>
        <div class="products-filter-smart__block-name" data-spoiler-btn>expanded=true <br> multiple=true</div>
        <div class="products-filter-smart__block-content" data-spoiler-content>
            <div class="products-filter-smart__block-content-wrap"> 
                <div class="filter-smart-prop js-filter-smart-prop" data-slug="no-color" data-expanded="true" data-multiple="true">
                    <ul class="filter-smart-prop__values js-filter-items">
                        <li class="js-filter-smart-value" data-slug="yellow" data-checked="false"><a href="#">yellow</a></li>
                        <li class="js-filter-smart-value" data-slug="bisque" data-checked="false"><a href="#">bisque</a></li>
                        <li class="js-filter-smart-value" data-slug="maroon" data-checked="false"><a href="#">maroon</a></li>
                        <li class="js-filter-smart-value" data-slug="indigo" data-checked="false"><a href="#">indigo</a></li>
                        <li class="js-filter-smart-value" data-slug="indigo-tomato" data-checked="false"><a href="#">indigo-tomato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="products-filter-smart__block" data-spoiler>
        <div class="products-filter-smart__block-name" data-spoiler-btn>expanded=false <br> multiple=false</div>
        <div class="products-filter-smart__block-content" data-spoiler-content>
            <div class="products-filter-smart__block-content-wrap"> 
                <div class="filter-smart-prop js-filter-smart-prop" data-slug="semicolor" data-expanded="false" data-multiple="false" data-placeholder="select semicolor">
                    <div class="filter-smart-prop__selected js-filter-smart-selected"></div>
                    <ul class="filter-smart-prop__values js-filter-items">
                        <li class="js-filter-smart-value" data-slug="yellow" data-checked="false"><a href="#">yellow</a></li>
                        <li class="js-filter-smart-value" data-slug="bisque" data-checked="false"><a href="#">bisque</a></li>
                        <li class="js-filter-smart-value" data-slug="maroon" data-checked="false"><a href="#">maroon</a></li>
                        <li class="js-filter-smart-value" data-slug="indigo" data-checked="true"><a href="#">indigo</a></li>
                        <li class="js-filter-smart-value" data-slug="indigo-tomato" data-checked="false"><a href="#">indigo-tomato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="products-filter-smart__block" data-spoiler>
        <div class="products-filter-smart__block-name" data-spoiler-btn>expanded=false <br> multiple=true</div>
        <div class="products-filter-smart__block-content" data-spoiler-content>
            <div class="products-filter-smart__block-content-wrap"> 
                <div class="filter-smart-prop js-filter-smart-prop" data-slug="grass" data-expanded="false" data-multiple="true" data-placeholder="select grass">
                <div class="filter-smart-prop__selected js-filter-smart-selected"></div>
                    <ul class="filter-smart-prop__values js-filter-items">
                        <li class="js-filter-smart-value" data-slug="yellow" data-checked="false"><a href="#">yellow</a></li>
                        <li class="js-filter-smart-value" data-slug="bisque" data-checked="false"><a href="#">bisque</a></li>
                        <li class="js-filter-smart-value" data-slug="maroon" data-checked="false"><a href="#">maroon</a></li>
                        <li class="js-filter-smart-value" data-slug="indigo" data-checked="false"><a href="#">indigo</a></li>
                        <li class="js-filter-smart-value" data-slug="indigo-tomato" data-checked="false"><a href="#">indigo-tomato</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="products-filter-smart__btns">
        <button class="products-filter-smart__btn-clear">Clear All</button>
        <button class="products-filter-smart__btn-apply js-filter-smart-btn-apply">Apply</button>
    </div>

</div><!-- end .products-filter-smart -->
