<!-- класс js-ajax - для отправки ajax'ом -->
<!-- data-goal-name, data-goal-category - имя и категория цели, при успешной отправке -->
<form action="/form-success.html" class="js-ajax" data-goal-name="Email Callback" data-goal-category="Email">
    <div class="js-recaptcha" data-sitekey="6Le_PewUAAAAAKDyWbql5JIM-LYTNmDl-4LnBNAL" data-theme="light" data-type="image" data-size="invisible" data-callback="recaptchaCallback"></div>
    
    <div class="form-callback form-layout-item-row">
    
        <div class="form-item -name">
            <!-- <span class="form-item__label">Name</span> -->
            <div class="form-item__field">
                <input type="text" placeholder="Как вас зовут?" name="darvin_callback_order[name]">
                <div class="form-item__error"></div>
            </div>
        </div>

        <div class="form-item -email">
            <!-- <span class="form-item__label">Email</span> -->
            <div class="form-item__field">
                <input type="email" placeholder="Email" name="darvin_callback_order[email]">
                <div class="form-item__error"></div>
            </div>
        </div>

        <div class="form-item -phone">
            <!-- <span class="form-item__label">Phone</span> -->
            <div class="form-item__field">
                <input type="phone" placeholder="Phone" name="darvin_callback_order[phone]">
                <div class="form-item__error">
                    <ul><li>Неправильный формат. Пример: 88008008080</li></ul>
                </div>
            </div>
        </div>

        <div class="form-btns-container">
            <div class="form-privacy-police">
                Нажимая на кнопку, я даю согласие <br> на <a href="">обработку персональных данных</a>
            </div>
            <button class="form-feedback__btn-submit" type="submit">Submit</button>
        </div>
        
    </div>
</form>
